<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pairtestingtestingtesting</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%= yield %>
  <p><a class="restart" href="/">(restart)</a></p>
</body>
</html>